
.wdpred__box-editor-wrapper {

  position: absolute;
  top: 280px;
  left: 50%;
  width: 370px;
  height: 280px;
  z-index: #{map_get($zindex, boxEditor)};

  transform: translateX(-(370px + 216px));

  &::before {
    @include box-shadow-multiple(0 0 20px rgba(0,0,0,0.2));
    content: '';
    position: absolute;
    top: 50%;
    left: 10px;
    right: 10px;
    bottom: 0;
  }

}

.wdpred__box-editor {
  @include border-radius(5px);

  background-color: #ffffff;
  width: 100%;
  height: 100%;
  position: relative;

  overflow: hidden;
}

.wdpred__box-editor__header {
  background-color: #{map_get($colours, dark)};
}

.wdpred__box-editor__tabs {
  @extend .clearfix;

  > li {
    float: left;
  }

  .wdpred__tab {
    color: #505E8A;
    text-transform: uppercase;
    font-size: 14px;
    padding: 14px 10px;
    position: relative;
    cursor: pointer;

    &:hover {
      color: #5F6FA2;
    }

    &::before {
      content: '';
      position: absolute;
      left: -1px;
      top: 15px;
      bottom: 15px;
      width: 2px;
      background-color: #2F3B69;
    }

    &:first-of-type {
      padding-left: 14px;

      &::before {
        display: none;
      }

    }

    &.wdpred__state--selected {
      color: #97AED2;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        height: 4px;
        background-color: #616CFF;
      }

    }

  }

}
