.wdpred__box-editor__body {
}

$wdpred__box-editor__body__tab-header--height: 30px;
.wdpred__box-editor__body__tab-header {
  @extend .clearfix;
  height: $wdpred__box-editor__body__tab-header--height;
  border-bottom: 1px solid #f1f1f1;
  padding: 0 4px;

  .wdpred__tab {
    color: #d9d8dc;
    float: left;
    line-height: $wdpred__box-editor__body__tab-header--height;
    padding: 0 10px;
    font-size: 13px;
    cursor: pointer;
    text-transform: uppercase;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      left: 10px;
      right: 10px;
      bottom: 5px;
      height: 3px;
      background-color: #616cff;
      visibility: hidden;
    }

    &:hover {
      color: #aaaaaa;
    }

    &.wdpred__state--selected {
      color: #616cff;

      &::after {
        visibility: visible;
      }

    }

  }

}

.wdpred__box-editor__body__tab-content {
  height: 280px;
  padding: 15px 10px;
  overflow-y: auto;

  &.wdpred__box-editor__body__tab-content--styling {
    height: 280px - $wdpred__box-editor__body__tab-header--height;
  }

}

.wdpred__box-editor__option-container {
  margin-bottom: 10px;

  &:last-of-type {
    margin-bottom: 0;
  }


  &.wdpred__box-editor__option-container--two {
    @extend .clearfix;

    .wdpred__box-editor__option {
      margin-top: 0;
      width: 50%;
      float: left;
      padding-right: 10px;

      &:last-of-type {
        padding: 0 0 0 10px;
      }

    }

      .wdpred__box-editor__option__label {
        min-width: 66px;
      }

  }

  &.wdpred__box-editor__option-container--single {

    .wdpred__box-editor__option__label {
      min-width: 66px;
    }

  }

  &.wdpred__box-editor__option-container--wider {

    .wdpred__box-editor__option__label {
      min-width: 100px;
    }

  }

}

.wdpred__box-editor__option {
  @extend .clearfix;

  margin-top: 15px;

  &:first-of-type {
    margin-top: 0;
  }

}

  .wdpred__box-editor__option__label {
    float: left;
    min-width: 100px;
    margin-right: 10px;

    font-size: 13px;
    position: relative;
    top: 5px;

    &.wdpred__box-editor__option__label--thinner {
      min-width: 66px;
    }

  }

  .wdpred__box-editor__option__value {
    overflow: hidden;
    color: #555555;
    font-size: 13px;

    .wdpred__add-child {
      margin: 5px 0 0 5px;
    }

  }

.wdpred__box-editor__sub-section {
  margin-top: 20px;

  &:first-of-type {
    margin-top: 0;
  }

  &.wdpred__box-editor__sub-section--plain {

    .wdpred__box-editor__sub-section__title {
      display: none;
    }

  }

}

  .wdpred__box-editor__sub-section__title {
    color: #d9d8dc;
    font-size: 13px;
    margin-bottom: 8px;
    text-transform: uppercase;
  }
