%btn-reset {
  @extend %font--default;
  border: 0;
  background: none;
  cursor: pointer;
  font-size: 1em;
  padding: 0;

  &:focus {
    outline: none;
  }

}

.wdpred__btn {
  @extend %btn-reset;
}

.wdpred__btn--main-action {
  color: #ff0053;
  font-size: 15px;
  padding: 11px 16px 11px 17px;
  height: 58px; // height of menu-bar

  &:hover {
    @include background-gradient(map_get($colours, dark), #161d38);

    .wdpred__icon {
      transform: scale(1.1);
    }

  }

  &:active {
    @include background-gradient(#161d38, #161d38);
  }

  .wdpred__icon {
    @include transition(transform 250ms ease);
    @include border-radius(5px);
    background-color: #ff0053;
    color: #161c33;
    display: inline-block;
    margin-right: 5px;
    padding: 5px 3px;
  }

  .wdpred__text {
    font-size: 14px;
    text-shadow: 0 1px #161c33;
    //border-bottom: 1px solid #ff0053;
  }

}

.wdpred__btn--medium {
  @include border-radius(3px);
  @include transition(transform 200ms ease, background-color 200ms ease, color 200ms ease);
  background-color: #cccccc;
  color: #ffffff;
  padding: 6px 12px;
  font-size: 15px;
  position: relative;

  &:hover {
    background-color: #ff0053;
    color: #ffffff;
  }

  &:active {
    transform: translateY(2px);
  }

}

.wdpred__btn--mini-save {
  @include transition(transform 200ms ease);
  padding: 3px 0;

  &:hover {

    .wdpred__icon {
      background-color: #ff0053;
    }

    .wdpred__text {
      color: #ff0053;
    }

  }

  &:active {
    transform: translateY(2px);
  }

  .wdpred__icon {
    @include transition(transform 250ms ease, background-color 200ms ease, color 200ms ease);
    @include border-radius(5px);
    background-color: #cccccc;
    color: #ffffff;
    display: inline-block;
    margin-right: 2px;
    padding: 5px 3px;
    font-size: 13px;
  }

  .wdpred__text {
    @include transition(color 200ms ease);
    color: #cccccc;
    font-size: 13px;
    position: relative;
    top: 1px;
  }

}
