%btn-reset {
  @extend %font--default;
  border: 0;
  background: none;
  cursor: pointer;
  font-size: 1em;
  padding: 0;

  &:focus {
    outline: none;
  }

}

.btn {
  @extend %btn-reset;
}

.btn--major {
  @include transition(color 100ms ease, background 100ms ease, transform 300ms ease);
  @include border-radius(8px);
  //border: 2px solid #FF002D;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  padding: 10px 15px;

  &:hover {
    background-color: #ffffff;
    color: #{map_get($colours, background)};
  }

  &:active {
    transform: translateY(3px);
  }

}

.btn--delete {
  @include transition(transform 200ms ease);
  color: #cccccc;

  &:hover {
    color: #555555;
  }

  &:active {
    transform: scale(1.1);
  }

}

.btn--remove {
  @extend .btn--delete;
  display: block;
  width: 24px;
  height: 24px;
}

.btn--connect {
  @extend %font--heading;
  @include border-radius(35px);
  @include transition(transform 300ms ease);
  border: 2px solid #333333;
  font-size: 1.1em;
  padding: 10px 40px;

  &.state--busy,
  &:hover {
    background-color: #333333;
    color: #ffffff;
  }

  &:active {
    transform: translateY(2px);
  }

}

.btn--submit {
  @include border-radius(25px);
  @include transition(transform 300ms ease);
  background-color: #0094EF;
  color: #ffffff;
  font-size: 1.1em;
  text-transform: uppercase;
  font-weight: 500;
  padding: 12px 24px;

  &:active {
    transform: translateY(2px);
  }

}
