
%input-reset {
  @extend %font--default;
  border: 0;
  font-size: 1em;
  background: none;

  &:focus {
    outline: none;
  }

}

.input {
  @extend %input-reset;
}

.input--search {
  //@include box-shadow(0, 2px, 15px, rgba(0,0,0,0.05));
  @include box-shadow-multiple(inset 0 0 15px rgba(0,0,0,0.04), inset 0 10px 15px rgba(0,0,0,0.02));
  @include border-radius(3px);
  background-color: #eaeaea;
  //border: 1px solid #e4e4e4;
  color: #555555;
  padding: 12px 12px 12px 40px;
  width: 100%;
  font-size: .95em;

  &:focus {
    background-color: #e4e4e4;
    border-color: #e0e0e0;
  }

}
