
%font--heading {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
}

%font--default {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  @extend %font--heading;
}

body {
  @extend %font--default;
  color: #{map_get($colours, default)};
  font-size: 16px;
}

strong {
  font-weight: 700;
}

.heading--main {
  color: #333333;
  font-size: 2.85em;
  font-weight: 700;
}

.heading--small {
  color: #444;
  border-bottom: 3px solid #EEEEEE;
  display: inline-block;
  padding-right: 8px;
  padding-bottom: 3px;
  font-weight: 400;
  font-size: 14px;
  //text-shadow: 0 1px rgba(0,0,0,0.05), 0 2px 10px rgba(0,0,0,0.05);
  text-transform: uppercase;
}

.small-message {
  color: #{map_get($colours, faint)};
  font-size: .8em;
  padding: 5px;
  line-height: 1.2em;
  font-style: italic;
}
