
%font--heading {
  font-family: Lato, Helvetica, Arial, sans-serif;
}

%font--default {
  font-family: Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  @extend %font--default;
}

body {
  @extend %font--default;
  color: #{map_get($colours, default)};
  font-size: 16px;
}

strong {
  font-weight: 700;
}
