
.droppable-box {

  .small-message {
    position: absolute;
    top: 45px;
    left: 15px;
    right: 15px;
    pointer-events: none;

    .state--dragging & {
      visibility: hidden;
    }

  }

  &.state--empty {
    position: relative;

    .blocks {
      min-height: 29px + 30px; //30px padding
    }

    .droppable-list {

      .dndPlaceholder {
        display: block;
      }

    }

  }

}

.droppable-list {
  position: relative;

  &.dndDragover {

    &::after {
      visibility: visible;
    }

  }

  &::after {
    @include border-radius(5px);
    content: '';
    position: absolute;
    top: 7px;
    left: 7px;
    right: 7px;
    bottom: 7px;
    border: 2px solid #FF0073;
    pointer-events: none;
    visibility: hidden;
    //background-color: rgba(0,0,0,0.02);
  }

  .dndPlaceholder {
    @include border-radius(3px);
    height: 29px;
    background-color: #f0f0f0;
    display: none;
  }

}

.blocks {
  margin-top: 15px;

  &.blocks--more-padding {
    margin-top: 0;
    padding: 15px;
  }

  > li {
    margin-top: 10px;

    &:first-of-type {
      margin-top: 0;

      &.dndPlaceholder + li {
        margin-top: 0;
      }

    }

  }

}

  .block {
    @extend .clearfix;
    cursor: default;
    position: relative;

    &.block--suggestion {
      max-width: 200px;
    }

    &:hover {

      .remove-button {
        visibility: visible;
      }

    }

    .remove-button {
      visibility: hidden;
      position: absolute;
      top: 1px;
      right: 2px;
    }

  }

    .block__thumb {
      @include border-radius(50%);
      float: left;
      width: 24px;
      height: 24px;
      color: #ffffff;
      background-color: rgba(0,0,0,0.2);
      margin-right: 6px;
      position: relative;
      top: 2px;
      text-align: center;
      line-height: 24px;

      .icon {
        font-size: .7em;
        position: relative;
        top: -2px;
        text-shadow: 0 1px rgba(0,0,0,0.25);
      }

      .block--artist & {
        background-color: #007BFF;
      }

      .block--genre & {
        background-color: #C500B5;
      }

      .block--track & {
        background-color: #FF002D;
      }

    }

    .block__info {
      overflow: hidden;
      padding-right: 25px;
    }

      .block__title {
        @include text-truncate();
        color: #555555;
        font-size: .85em;
        font-weight: 500;
        margin: 0 0 3px 0;

        .subtitle {
          color: #aaaaaa;
          font-weight: 300;
          font-size: .9em;
        }

        .block--track & {
          color: #aaaaaa;

          .text--track {
            color: #555555;
          }

        }

      }

      .block__subtitle {
        color: #aaaaaa;
        font-size: .7em;
        font-weight: 500;
        font-style: italic;
        padding-bottom: 2px;
      }

