
.box-wrapper {

  &.full {
    height: 100%; // temporary
  }

}

.box {
  //@include box-shadow(0, 2px, 15px, rgba(0,0,0,0.05));
  @include border-radius(3px);
  background-color: #ffffff;
  border: 1px solid #fafafa;
  padding: 15px;
  position: relative;

  &::before {
    @include border-radius(3px);
    @include box-shadow-multiple(0 2px 25px rgba(0,0,0,0.15));
    content: '';
    position: absolute;
    top: 50%;
    left: 10px;
    right: 10px;
    bottom: 0;
    z-index: -1;
  }

  &.box--slimmer {
    padding-left: 7px;
    padding-right: 7px;

    .box__title {
      padding: 0 7px;
    }

  }

  &.box--less-padding {
    padding: 15px 0 0 0;

    .box__title-wrapper {
      padding: 0 15px;
    }

  }

  &.full {
    height: 100%; // temporary
  }

}

  .box__title {
    @extend .heading--small;
  }

.flat-box {
  padding: 15px 0;

  &.flat-box--recommended {
    padding-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
  }

}

  .flat-box__title-wrapper {
    position: relative;
  }

  .flat-box__title {
    @extend .box__title;
  }

.busy-icon {
  color: #CCC;
  font-size: .8em;
}
