
.dragging--hide {

  .state--dragging & {
    visibility: hidden;
    pointer-events: none;
  }

}

$dragging-list: seed suggestion tracks multitracks track artist genre;

.dragging-fade {
  @include transition(opacity 250ms ease);

  .state--dragging & {
    opacity: 0.35;
  }

  @each $current-state in $dragging-list {

    &.dragging-fade--#{$current-state} {

      .state--dragging.dragging--#{$current-state} & {
        opacity: 1;
      }

    }

  }

}

.droppable-box {
  @include transition(transform 250ms ease);
  position: relative;

  .state--dragging.dragging--track &,
  .state--dragging.dragging--artist &,
  .state--dragging.dragging--genre &,
  .state--dragging.dragging--seed &,
  .state--dragging.dragging--tracks &,
  .state--dragging.dragging--suggestion &,
  &.state--receivable {

    .drop-message--seed {
      animation: flipInY 500ms ease;
      animation-fill-mode: forwards;
      visibility: visible;
    }

  }

  .state--dragging.dragging--track &,
  .state--dragging.dragging--seed-track &,
  .state--dragging.dragging--multitracks &,
  .state--dragging.dragging--tracks & {

    .drop-message--track {
      animation: flipInY 500ms ease;
      animation-fill-mode: forwards;
      visibility: visible;
    }

  }

  .state--dragging.dragging--track &,
  .state--dragging.dragging--tracks & {

    .drop-artist {
      animation: flipInY 500ms ease;
      animation-fill-mode: forwards;
      visibility: visible;
      pointer-events: auto;
    }

  }

  &.state--hovering {
    transform: scale(1.05);

    //.drop-message {
    //  animation: flipOutY 500ms ease;
    //  animation-fill-mode: forwards;
    //  visibility: visible;
    //}

  }

}

.drop-message {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;

  .text {
    @include border-radius(20px);
    display: inline-block;
    background-color: #FF0073;
    color: #ffffff;
    text-transform: uppercase;
    font-size: .75em;
    font-weight: 700;
    padding: 10px 15px;
    transform: translateY(50%);
  }

}
