.drop-artist {
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  top: -16px;
  right: -12px;

  .content {
    @include transition(transform 250ms ease);
    @include border-radius(25px);
    text-align: center;
    color: #ffffff;
    background-color: #{map_get($colours, vibrant)};
    text-transform: uppercase;
    font-size: .75em;
    font-weight: 700;
    padding: 10px 15px 10px 12px;
  }

  &.dndDragover {

    .content {
      transform: scale(1.1);
    }

  }

  .text {
  }

  .dndPlaceholder {
    display: none;
  }

}
