.dropdown {
  //padding: 15px;
  position: relative;
  z-index: 1000;

  //&::after {
  //  @include border-radius(3px);
  //  @include box-shadow-multiple(0 2px 25px -25px rgba(0,0,0,0.15));
  //  content: '';
  //  position: absolute;
  //  top: 50%;
  //  left: 10px;
  //  right: 10px;
  //  bottom: 0;
  //  z-index: -1;
  //}

  &.ng-hide-remove {
    animation: slideInLeft 250ms ease;
  }

  &.ng-hide-add {
    animation: slideOutLeft 250ms ease;
  }

}

  .dropdown__shadow {
    @include border-radius(3px);
    @include box-shadow-multiple(0 2px 25px rgba(0,0,0,0.15));
    position: absolute;
    top: 50%;
    left: 10px;
    right: 10px;
    bottom: 0;
    z-index: -1;
  }

  .dropdown__content {
    @include border-radius(3px);
    //@include box-shadow-multiple(0 0 1px rgba(0,0,0,0.1), 0 0 10px rgba(0,0,0,0.05));
    background-color: #ffffff;
    padding-bottom: 10px;
  }

  .dropdown__section {
    position: relative;

    &.dropdown__section--tracks {
      min-height: 204px; // not dynamic...
    }

    &.dropdown__section--artists {
      min-height: 244px; // not dynamic...
    }

    &.dropdown__section--genres {
      min-height: 162px; // not dynamic...
    }

  }

    .dropdown__section__header {
      padding: 15px 15px 5px 15px;

      .searching-message {
        display: inline-block;
      }

    }

    .dropdown__section__title {
      @extend .heading--small;
    }

    .dropdown__section__list {

      > li {

      }

    }

.message {
  color: #cccccc;
  padding: 5px 5px;
  font-style: italic;
  font-size: .85em;
  pointer-events: none;

  &.padded {
    padding: 5px 15px;
  }

}
