.playlist {
  position: relative;
  display: flex;
  flex-flow: column;

  .playlist__flextable {
    flex: 1;
    overflow: auto;
  }

  .btn--major {
    position: absolute;
    right: 15px;
    bottom: 15px;
  }

}

  .playlist__header {
    display: flex;

    .input-wrapper {
      flex-grow: 1;
    }

  }

    .playlist__info {
      color: #d0d0d0;
      font-size: .8em;
      margin-left: 20px;
      padding: 10px 10px 0 0;
      text-align: right;

      .playlist.state--empty & {
        visibility: hidden;
      }

      .remove {
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }

      }

    }

  .input--title {
    background: none;
    border: 0;
    border-bottom: 3px solid #f0f0f0;
    font-size: 1.5em;
    padding: 0 0 3px 0;
    width: 100%;
    color: #333333;

    @include placeholder {
      color: #555555;
    }

    &:focus {
      border-color: #d0d0d0;
      outline: none;

      @include placeholder {
        color: #777777;
      }

    }

  }

  .playlist__submit {
    position: absolute;
    right: 20px;
    bottom: -20px;

    &.ng-hide-add {
      animation: flipOutY 500ms ease;
      animation-fill-mode: forwards;
    }


    &.ng-hide-remove {
      animation: flipInY 500ms ease;
      animation-fill-mode: forwards;
    }

    &::before {
      @include border-radius(25px);
      @include box-shadow-multiple(0 2px 20px rgba(0, 0, 0, 0.2), 0 2px 20px rgba(0, 148, 239, 0.4));
      content: '';
      position: absolute;
      top: 50%;
      left: 20px;
      right: 20px;
      bottom: 0;
    }

    .btn {
      position: relative;
    }

  }
