.quick-search {
  position: relative;

  .input-wrapper {
    position: relative;

    .icon {
      color: #555;
      position: absolute;
      top: 16px;
      left: 12px;
      pointer-events: none;
      font-size: .9em;
    }

  }

  .dropdown {
    position: absolute;
    left: -15px;
    right: -15px;
    top: 100%;
    margin-top: 5px;
  }

}
