.result {
  @include transition(all 100ms ease);
  cursor: pointer;
  padding: 5px 15px;

  &:hover {
    background-color: #f9f9f9;
  }

  &:active {
    background-color: #f2f2f2;
  }

  &.result--artist {
    @extend .clearfix;
  }

  &.result--genre {
    padding: 8px 15px;
  }

}

  .result__title {
    color: #555555;
    font-weight: 500;
    font-size: .9em;
  }

  .result__subtitle {
    font-size: .8em;
    margin-top: 4px;
  }

  .result__thumb {
    @extend .thumbnail;
    @include border-radius(50%);
    width: 40px;
    height: 40px;
    background-color: #f0f0f0;
    float: left;
    margin-right: 10px;
  }

  .result__info {
    height: 40px;
    display: flex;
    align-items: center;
  }
