
$spritesheet: (
  url: '/assets/images/spritesheets/spritesheet.png',
  url2x: '/assets/images/spritesheets/spritesheet@2x.png',
  width: 64px,
  height: 64px
);

.spritesheet {
  background-repeat: no-repeat;
  background-image: url(map_get($spritesheet, url));
  @include image-2x(map_get($spritesheet, url2x), map_get($spritesheet, width), map_get($spritesheet, height));
}
