<div class="wdpred__box-editor-wrapper">
  <div class="wdpred__box-editor">
    <header class="wdpred__box-editor__header">
      <ul class="wdpred__box-editor__tabs">
        <li class="wdpred__tab wdpred__state--selected">
          <div>content</div>
        </li>
        <li class="wdpred__tab">
          <div>layout</div>
        </li>
        <li class="wdpred__tab">
          <div>styling</div>
        </li>
        <li class="wdpred__tab">
          <div>extra</div>
        </li>
      </ul>
    </header>
    <div class="wdpred__box-editor__body">
      <div class="wdpred__box-editor__option">
        <label class="wdpred__box-editor__option__label">Name</label>
        <div class="wdpred__box-editor__option__value">
          <input
            class="wdpred__input wdpred__input--basic"
            type="text" placeholder="enter a name" value="Intro Content"/>
        </div>
      </div>
      <div class="wdpred__box-editor__option">
        <label class="wdpred__box-editor__option__label">Content Type</label>
        <div class="wdpred__box-editor__option__value">
          <input
            class="wdpred__input wdpred__input--basic"
            type="text" placeholder="" value="Group" readonly=""/>
        </div>
      </div>
      <div class="wdpred__box-editor__option">
        <label class="wdpred__box-editor__option__label">Group Children</label>
        <div class="wdpred__box-editor__option__value">
          <ul class="wdpred__mini-list">
            <li>
              <div class="wdpred__text-item">
                <span class="wdpred__text-item__label">Heading - </span>
                <span>Intro Title</span>
              </div>
            </li>
            <li>
              <div class="wdpred__text-item">
                <span class="wdpred__text-item__label">Heading - </span>
                <span>Intro Text</span>
              </div>
            </li>
            <li>
              <div class="wdpred__text-item">
                <span class="wdpred__text-item__label">Button - </span>
                <span>Intro Contact Button</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <footer class="wdpred__box-editor__footer">
      <button class="wdpred__btn">Done</button>
    </footer>
  </div>
</div>
