<div class="wdpred__box-editor-wrapper">
  <div class="wdpred__box-editor">
    <header class="wdpred__box-editor__header">
      <ul class="wdpred__box-editor__tabs">
        <li class="wdpred__tab wdpred__state--selected">
          <div>content</div>
        </li>
        <li class="wdpred__tab">
          <div>layout</div>
        </li>
        <li class="wdpred__tab">
          <div>styling</div>
        </li>
        <li class="wdpred__tab">
          <div>extra</div>
        </li>
      </ul>
    </header>
    <div class="wdpred__box-editor__body">
      <box-editor-tab-content></box-editor-tab-content>
    </div>
    <footer class="wdpred__box-editor__footer">
      <button class="wdpred__box-editor__atom-btn wdpred__btn wdpred__btn--mini-save">
        <span class="wdpred__icon icon-floppy-1"></span>
        <span class="wdpred__text">
          Save as Atom
        </span>
      </button>
      <button class="wdpred__box-editor__save-btn wdpred__btn wdpred__btn--medium">Done</button>
    </footer>
  </div>
</div>
