<div
  ng-controller="BoxEditorTabStylingController as boxEditorTabContentVM"
  class="wdpred__box-editor__body__tab-content-wrapper">
  <header class="wdpred__box-editor__body__tab-header">
    <div class="wdpred__tab"
         ng-class="{
          'wdpred__state--selected': boxEditorTabContentVM.tab === 'default'
         }"
         ng-click="boxEditorTabContentVM.selectTab('default')">Default</div>
    <div class="wdpred__tab"
         ng-class="{
          'wdpred__state--selected': boxEditorTabContentVM.tab === 'hover'
         }"
         ng-click="boxEditorTabContentVM.selectTab('hover')">Hover</div>
    <div class="wdpred__tab"
         ng-class="{
          'wdpred__state--selected': boxEditorTabContentVM.tab === 'active'
         }"
         ng-click="boxEditorTabContentVM.selectTab('active')">Active</div>
  </header>
  <div class="wdpred__box-editor__body__tab-content wdpred__box-editor__body__tab-content--styling">
    <box-editor-tab-sub-section ng-repeat="subSection in boxEditorTabContentVM.options.sections"></box-editor-tab-sub-section>
  </div>
</div>
