<div
  ng-controller="BoxEditorTabStylingController as boxEditorTabContentVM"
  class="wdpred__box-editor__body__tab-content-wrapper">
  <header class="wdpred__box-editor__body__tab-header">
    <div class="wdpred__tab"
         ng-class="{
          'wdpred__state--selected': boxEditorTabContentVM.tab === 'default'
         }"
         ng-click="boxEditorTabContentVM.selectTab('default')">Default</div>
    <div class="wdpred__tab"
         ng-class="{
          'wdpred__state--selected': boxEditorTabContentVM.tab === 'hover'
         }"
         ng-click="boxEditorTabContentVM.selectTab('hover')">Hover</div>
    <div class="wdpred__tab"
         ng-class="{
          'wdpred__state--selected': boxEditorTabContentVM.tab === 'active'
         }"
         ng-click="boxEditorTabContentVM.selectTab('active')">Active</div>
  </header>
  <div class="wdpred__box-editor__body__tab-content wdpred__box-editor__body__tab-content--styling">
    <section class="wdpred__box-editor__sub-section">
      <h3 class="wdpred__box-editor__sub-section__title">Background</h3>
      <div class="wdpred__box-editor__option-container wdpred__box-editor__option-container--two">
        <div class="wdpred__box-editor__option">
          <label class="wdpred__box-editor__option__label">Color</label>
          <div class="wdpred__box-editor__option__value">
            <input
              class="wdpred__input wdpred__input--basic"
              type="text" />
          </div>
        </div>
        <div class="wdpred__box-editor__option">
          <label class="wdpred__box-editor__option__label">Gradient</label>
          <div class="wdpred__box-editor__option__value">
            <input
              class="wdpred__input wdpred__input--basic"
              type="text" />
          </div>
        </div>
      </div>
      <div class="wdpred__box-editor__option-container">
        <div class="wdpred__box-editor__option">
          <label class="wdpred__box-editor__option__label wdpred__box-editor__option__label--thinner">Image</label>
          <div class="wdpred__box-editor__option__value">
            <input
              class="wdpred__input wdpred__input--basic"
              type="text" />
          </div>
        </div>
      </div>
    </section>
    <section class="wdpred__box-editor__sub-section">
      <h3 class="wdpred__box-editor__sub-section__title">Padding</h3>
      <div class="wdpred__box-editor__option-container wdpred__box-editor__option-container--two">
        <div class="wdpred__box-editor__option">
          <label class="wdpred__box-editor__option__label">Top</label>
          <div class="wdpred__box-editor__option__value">
            <input
              class="wdpred__input wdpred__input--basic"
              type="text" />
          </div>
        </div>
        <div class="wdpred__box-editor__option">
          <label class="wdpred__box-editor__option__label">Bottom</label>
          <div class="wdpred__box-editor__option__value">
            <input
              class="wdpred__input wdpred__input--basic"
              type="text" />
          </div>
        </div>
      </div>
      <div class="wdpred__box-editor__option-container wdpred__box-editor__option-container--two">
        <div class="wdpred__box-editor__option">
          <label class="wdpred__box-editor__option__label">Left</label>
          <div class="wdpred__box-editor__option__value">
            <input
              class="wdpred__input wdpred__input--basic"
              type="text" />
          </div>
        </div>
        <div class="wdpred__box-editor__option">
          <label class="wdpred__box-editor__option__label">Right</label>
          <div class="wdpred__box-editor__option__value">
            <input
              class="wdpred__input wdpred__input--basic"
              type="text" />
          </div>
        </div>
      </div>
    </section>
    <section class="wdpred__box-editor__sub-section">
      <h3 class="wdpred__box-editor__sub-section__title">Border Width</h3>
      <div class="wdpred__box-editor__option-container wdpred__box-editor__option-container--two">
        <div class="wdpred__box-editor__option">
          <label class="wdpred__box-editor__option__label">Top</label>
          <div class="wdpred__box-editor__option__value">
            <input
              class="wdpred__input wdpred__input--basic"
              type="text" />
          </div>
        </div>
        <div class="wdpred__box-editor__option">
          <label class="wdpred__box-editor__option__label">Bottom</label>
          <div class="wdpred__box-editor__option__value">
            <input
              class="wdpred__input wdpred__input--basic"
              type="text" />
          </div>
        </div>
      </div>
      <div class="wdpred__box-editor__option-container wdpred__box-editor__option-container--two">
        <div class="wdpred__box-editor__option">
          <label class="wdpred__box-editor__option__label">Left</label>
          <div class="wdpred__box-editor__option__value">
            <input
              class="wdpred__input wdpred__input--basic"
              type="text" />
          </div>
        </div>
        <div class="wdpred__box-editor__option">
          <label class="wdpred__box-editor__option__label">Right</label>
          <div class="wdpred__box-editor__option__value">
            <input
              class="wdpred__input wdpred__input--basic"
              type="text" />
          </div>
        </div>
      </div>
    </section>
    <section class="wdpred__box-editor__sub-section">
      <h3 class="wdpred__box-editor__sub-section__title">Border Color</h3>
      <div class="wdpred__box-editor__option-container wdpred__box-editor__option-container--two">
        <div class="wdpred__box-editor__option">
          <label class="wdpred__box-editor__option__label">Top</label>
          <div class="wdpred__box-editor__option__value">
            <input
              class="wdpred__input wdpred__input--basic"
              type="text" />
          </div>
        </div>
        <div class="wdpred__box-editor__option">
          <label class="wdpred__box-editor__option__label">Bottom</label>
          <div class="wdpred__box-editor__option__value">
            <input
              class="wdpred__input wdpred__input--basic"
              type="text" />
          </div>
        </div>
      </div>
      <div class="wdpred__box-editor__option-container wdpred__box-editor__option-container--two">
        <div class="wdpred__box-editor__option">
          <label class="wdpred__box-editor__option__label">Left</label>
          <div class="wdpred__box-editor__option__value">
            <input
              class="wdpred__input wdpred__input--basic"
              type="text" />
          </div>
        </div>
        <div class="wdpred__box-editor__option">
          <label class="wdpred__box-editor__option__label">Right</label>
          <div class="wdpred__box-editor__option__value">
            <input
              class="wdpred__input wdpred__input--basic"
              type="text" />
          </div>
        </div>
      </div>
    </section>
    <section class="wdpred__box-editor__sub-section">
      <h3 class="wdpred__box-editor__sub-section__title">Border Radius</h3>
      <div class="wdpred__box-editor__option-container wdpred__box-editor__option-container--two">
        <div class="wdpred__box-editor__option">
          <label class="wdpred__box-editor__option__label">Top</label>
          <div class="wdpred__box-editor__option__value">
            <input
              class="wdpred__input wdpred__input--basic"
              type="text" />
          </div>
        </div>
        <div class="wdpred__box-editor__option">
          <label class="wdpred__box-editor__option__label">Bottom</label>
          <div class="wdpred__box-editor__option__value">
            <input
              class="wdpred__input wdpred__input--basic"
              type="text" />
          </div>
        </div>
      </div>
      <div class="wdpred__box-editor__option-container wdpred__box-editor__option-container--two">
        <div class="wdpred__box-editor__option">
          <label class="wdpred__box-editor__option__label">Left</label>
          <div class="wdpred__box-editor__option__value">
            <input
              class="wdpred__input wdpred__input--basic"
              type="text" />
          </div>
        </div>
        <div class="wdpred__box-editor__option">
          <label class="wdpred__box-editor__option__label">Right</label>
          <div class="wdpred__box-editor__option__value">
            <input
              class="wdpred__input wdpred__input--basic"
              type="text" />
          </div>
        </div>
      </div>
    </section>
    <section class="wdpred__box-editor__sub-section">
      <h3 class="wdpred__box-editor__sub-section__title">Shadow</h3>
      <div class="wdpred__box-editor__option-container wdpred__box-editor__option-container--two">
        <div class="wdpred__box-editor__option">
          <label class="wdpred__box-editor__option__label">Horizontal</label>
          <div class="wdpred__box-editor__option__value">
            <input
              class="wdpred__input wdpred__input--basic"
              type="text" />
          </div>
        </div>
        <div class="wdpred__box-editor__option">
          <label class="wdpred__box-editor__option__label">Vertical</label>
          <div class="wdpred__box-editor__option__value">
            <input
              class="wdpred__input wdpred__input--basic"
              type="text" />
          </div>
        </div>
      </div>
      <div class="wdpred__box-editor__option-container wdpred__box-editor__option-container--two">
        <div class="wdpred__box-editor__option">
          <label class="wdpred__box-editor__option__label">Blur</label>
          <div class="wdpred__box-editor__option__value">
            <input
              class="wdpred__input wdpred__input--basic"
              type="text" />
          </div>
        </div>
        <div class="wdpred__box-editor__option">
          <label class="wdpred__box-editor__option__label">Spread</label>
          <div class="wdpred__box-editor__option__value">
            <input
              class="wdpred__input wdpred__input--basic"
              type="text" />
          </div>
        </div>
      </div>
      <div class="wdpred__box-editor__option-container wdpred__box-editor__option-container--two">
        <div class="wdpred__box-editor__option">
          <label class="wdpred__box-editor__option__label">Color</label>
          <div class="wdpred__box-editor__option__value">
            <input
              class="wdpred__input wdpred__input--basic"
              type="text" />
          </div>
        </div>
        <div class="wdpred__box-editor__option">
          <label class="wdpred__box-editor__option__label">Inset</label>
          <div class="wdpred__box-editor__option__value">
            <input
              class="wdpred__input wdpred__input--basic"
              type="text" />
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
